.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  animation: chargement 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  z-index: 500;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  vertical-align: center;
  border: 6px solid #9356dc;
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-top: 6px solid #FF79DA;
  border-radius: 50px;
  animation: rotate 1s linear 3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes chargement {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
    z-index: -200;
  }
}
body {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
  margin: 0;
  width: 100%;
  min-width: 320px;
}

html {
  margin-top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  font-weight: 500;
  margin: 0;
  width: 100%;
  margin-top: 15px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc .location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0, #eaeaea 90%, #cecece 100%);
  width: 100%;
  text-align: center;
}
.desc .location__p {
  font-weight: bold;
}
.desc .location__icon {
  padding-right: 15px;
}
.desc .about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.desc .about__title {
  text-align: center;
  padding-top: 20px;
  width: 70%;
  margin: auto;
}
.desc .about__p {
  text-align: center;
  width: 90%;
  font-size: 19px;
  font-weight: 300;
}
.desc .about .about__button {
  background-color: #FF79DA;
  border-radius: 25px;
  border: none;
  color: #fff;
  padding: 15px 40px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.desc .about .about__button:hover {
  box-shadow: 2px 2px 10px black;
}

.fonction {
  display: flex;
  flex-direction: column;
  height: 442px;
}
@media screen and (min-width: 640px) {
  .fonction {
    align-items: center;
  }
}
.fonction__title {
  margin: 50px 20px;
  font-weight: 900;
}
@media screen and (min-width: 640px) {
  .fonction__title {
    font-size: 30px;
  }
}
.fonction__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 2px 5px #eaeaea;
  height: 72px;
  width: 85%;
  margin: 20px 30px;
  font-weight: bolder;
  position: relative;
  background-color: #f6f6f6;
}
.button:nth-child(1):before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "1";
  font-size: 16px;
  left: -15px;
  width: 25px;
  height: 25px;
  color: white;
  background: #9356DC;
  border-radius: 16px;
}
.button:nth-child(2):before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "2";
  font-size: 16px;
  left: -15px;
  width: 25px;
  height: 25px;
  color: white;
  background: #9356DC;
  border-radius: 16px;
}
.button:nth-child(3):before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "3";
  font-size: 16px;
  left: -15px;
  width: 25px;
  height: 25px;
  color: white;
  background: #9356DC;
  border-radius: 16px;
}
.button--degustation {
  background-color: #f2eafb;
}
.button__icon {
  color: #7e7e7e;
  margin-left: 40px;
  margin-right: 20px;
}
.button__icon--degustation {
  color: #9356DC;
  margin-left: 40px;
  margin-right: 20px;
}
.button__p {
  font-weight: 700;
}

main {
  margin-top: 2px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 640px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.restaurant__title {
  padding-bottom: 10px;
  padding-top: 65px;
  font-weight: 900;
}
@media screen and (min-width: 640px) {
  .restaurant__title {
    position: absolute;
    top: -70px;
    font-size: 30px;
  }
}
.restaurant__type {
  display: flex;
  width: 100%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.164);
  position: relative;
}
.restaurant__type:hover {
  transform: scale(1.01);
}
@media screen and (min-width: 1024px) {
  .restaurant__type {
    width: 45%;
    margin: 1%;
  }
}
.restaurant__type__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.restaurant__type__heart input {
  display: none;
}
.restaurant__type__heart__colour {
  font-size: 22px;
  position: absolute;
  bottom: -2px;
  right: -1px;
  opacity: 1;
  background-color: white;
  transition: opacity 0.3s linear;
}
.restaurant__type__heart__colour:hover {
  opacity: 0;
}
.restaurant__type__heart__colour--base {
  position: absolute;
  bottom: -2px;
  right: -1px;
  font-size: 22px;
  background: linear-gradient(#9356DC 0%, #FF79DA 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__type__link {
  cursor: pointer;
  width: 100%;
}
.restaurant__type__link__img {
  position: relative;
  width: 100%;
}
.restaurant__type__link__img img {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.restaurant__type__link__img__tag--show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 2px;
  z-index: 10;
  background: #99E2D0;
  color: #278870;
  font-size: 14px;
  width: 81px;
  height: 30px;
  top: 15px;
  right: 15px;
}
.restaurant__type__link__img__tag--hidden {
  display: none;
}
.restaurant__type__link__desc {
  margin: 15px;
}
.restaurant__type__link__desc__title {
  margin: 0;
}
.restaurant__type__link__desc__city {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 100;
}

@media screen and (min-width: 640px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353535;
  }
}

footer {
  background-color: #353535;
  height: 220px;
  display: flex;
  flex-direction: column;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 500;
  color: white;
  padding-top: 15px;
}
footer .footer__container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
footer .footer__nav {
  color: white;
  line-height: 30px;
}
footer .footer__icon {
  font-size: 13px;
  margin-right: 10px;
}
footer .footer__icon--hands {
  font-size: 12px;
  margin-right: 5px;
}

.header {
  padding-bottom: 10px;
  position: relative;
}
.header__icon {
  position: absolute;
  left: 20px;
  top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.illustrate {
  position: relative;
}
.illustrate .restaurant__type__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  position: absolute;
  right: 30px;
  bottom: -10px;
}
.illustrate .restaurant__type__heart input {
  display: none;
}
.illustrate .restaurant__type__heart__colour {
  font-size: 22px;
  position: absolute;
  bottom: -2px;
  right: -1px;
  opacity: 1;
  background-color: #eaeaea;
  transition: opacity 0.3s linear;
}
.illustrate .restaurant__type__heart__colour:hover {
  opacity: 0;
}
.illustrate .restaurant__type__heart__colour--base {
  position: absolute;
  bottom: -2px;
  right: -1px;
  font-size: 22px;
  background: linear-gradient(#9356DC 0%, #FF79DA 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.illustrate__img {
  height: 240px;
}
.illustrate__img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.illustrate__title {
  box-sizing: border-box;
  transform: translateY(-50px);
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
  background: #eaeaea;
  border-radius: 30px 30px 0 0;
  margin: 0;
  font-family: "Shrikhand", Arial, sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 640px) {
  .illustrate__title {
    display: flex;
    justify-content: center;
  }
}

.menu__p {
  width: 90%;
  height: 50px;
  border-radius: 15px;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .menus {
    display: flex;
    background-color: #eaeaea;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .menus {
    display: flex;
    flex-wrap: wrap;
    background-color: #eaeaea;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}
@media screen and (min-width: 640px) {
  .menu {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 33.3%;
  }
}
.menu__title {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 11px;
}
.menu__title:after {
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  bottom: -8px;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}
.menu__container {
  display: flex;
  background: white;
  align-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  z-index: 10;
  cursor: pointer;
  margin: 10px;
  min-width: 200px;
}
.menu__container input {
  position: absolute;
  visibility: hidden;
}
@media (pointer: fine) {
  .menu__container:hover .menu__container__check {
    min-width: 60px;
    transform: translateX(0px);
    transform-origin: right;
    transition-duration: 500ms;
  }
  .menu__container:hover .menu__container__check i {
    transform: rotate(720deg);
    transition-duration: 500ms;
  }
}
input:checked ~ .menu__container__check {
  min-width: 60px;
  transform: translateX(0px);
  transform-origin: right;
  transition-duration: 500ms;
}
input:checked ~ .menu__container__check i {
  transform: rotate(720deg);
  transition-duration: 500ms;
}
.menu__container__check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #99E2D0;
  transition-property: min-width;
  transition-duration: 500ms;
  min-width: 0;
  cursor: pointer;
  height: 74px;
}
.menu__container__check i {
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 30px;
  left: 25px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #99E2D0;
}
.menu__container__check i::after {
  z-index: -1;
  position: absolute;
  content: "";
  margin: auto;
  transform: translate(-15px, -6px);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
.menu__container__element {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  padding: 10px;
}
.menu__container__element__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 19px;
  height: 100%;
  cursor: pointer;
  padding-bottom: 8px;
}
.menu__container__element__description {
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  cursor: pointer;
}
.menu__container__price {
  display: flex;
  height: auto;
  padding: 10px 25px;
  align-items: flex-end;
  cursor: pointer;
  font-weight: 500;
}

.order {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.order__button {
  background-color: #FF79DA;
  border-radius: 25px;
  border: none;
  color: #fff;
  padding: 15px 50px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.order__button:hover {
  box-shadow: 2px 2px 10px black;
}

.menu__title {
  animation: slideY-menu 300ms cubic-bezier(0, 0.33, 0, 0.48) backwards;
}

.menu__container:nth-child(2) {
  animation: slideY-plat 750ms cubic-bezier(0, 0.33, 0, 0.48) backwards;
}

.menu__container:nth-child(3) {
  animation: slideY-plat 1000ms cubic-bezier(0, 0.33, 0, 0.48) backwards;
}

.menu__container:nth-child(4) {
  animation: slideY-plat 1250ms cubic-bezier(0, 0.33, 0, 0.48) backwards;
}

.menu__container:nth-child(5) {
  animation: slideY-plat 1500ms cubic-bezier(0, 0.33, 0, 0.48) backwards;
}

.order__button {
  animation: slideY 2000ms cubic-bezier(0, 0.33, 0, 0.48) 250ms both;
}

@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideY-plat {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideY-menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
