@mixin btn ($colour, $padding) {
    background-color: $colour;
    border-radius: 25px;
    border: none;
    color: #fff;
    padding: $padding;
    font-size: 20px;
}

@mixin position-center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position-center-main{
    width: 90%;
    margin: auto;
}

