@mixin btn ($colour, $padding ) {
    background-color: $colour;
    border-radius: 25px;
    border: none;
    color: #fff;
    padding: $padding;
}

@mixin position-center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position-center-main{
    width: 90%;
    margin: auto;
}
@mixin title-h2{
    margin: 50px 20px;
    font-weight: 900;
}

@mixin check {

    input {
        position: absolute;
        visibility: hidden;
    }

     
    @media (pointer: fine) {

        
        &:hover &__check {
            min-width: 60px;
            transform: translateX(0px);
            transform-origin: right;
            transition-duration: 500ms;

            i {
                transform: rotate(360deg * 2);
                transition-duration: 500ms;
            }
        }
    }

    
    input:checked~&__check {
        
        min-width: 60px;
        transform: translateX(0px);
        transform-origin: right;
        i {
            transform: rotate(360deg);
        }
    }

    
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: $colour-tertiary;
        transition-duration: 500ms;
        min-width: 0px;
        cursor: pointer;
        height: 74px;

        
        i {
            z-index: 1;
            position: absolute;
            margin: auto;
            top: 30px;
            left: 25px;
            width: 10px;
            height: 10px;
            font-size: 10px;
            color: $colour-tertiary;
            &::after {
                z-index: -1;
                position: absolute;
                content: "";
                margin: auto;
                transform: translate(-15px, -6px);
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
            }
        }
        
    }
    
}