.footer{
    background-color: #353535;
    height: 200px;
    h3{
        font-family:"Shrikhand";
        font-weight: 500;
        margin-left: 25px;
        color: white;
        padding-top: 15px;
    }
    ul{
        margin-left: -15px;
        li{
            line-height: 25px;
            color: white;
            font-size: 15px;
        }
    }
    &__icon{
        font-size: 13px;
        margin-right: 10px;
        &--hands{
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

