footer{
    @media screen and (min-width: 640px){
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #353535;
    }
}
footer{
    background-color: #353535;
    height: 220px;
    display: flex;
    flex-direction: column;
    
    h3{
        font-family:"Shrikhand";
        font-weight: 500;
        color: white;
        padding-top: 15px;
        
    }
    .footer__container{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .footer__nav{
        color: white;
        line-height: 30px;
        &:hover{
            color: $colour-primary;
        }
    }
    
    .footer__icon{
        font-size: 13px;
        margin-right: 10px;
        &--hands{
            font-size: 12px;
            margin-right: 5px;
        }
    }
} 
