.header{
    @include position-center-element;
    &__title{
    display: flex;
    justify-content: center;
    font-family: "Shrikhand";
    font-weight: 500;
    margin: 0;
    width: 100%;
    margin-top: 15px;
    }   
}