
body{
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    margin: 0;
    width: 100%;
    min-width: 320px;
}

html{
    margin-top: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}